@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.underlined{
  position: relative;
}
.underlined::after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: .5s;
}
.underlined:hover::after{
  width: 100%
}

.cursive{
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.home-bg {
    position: relative;
    background-image: url('./Images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dashboard-bg {
    position: relative;
    background-image: url('./Images/dashboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .dashboard-bg::before, .home-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; 
  }
  
  .dashboard-bg .content, .home-bg .content {
    position: relative;
    z-index: 1; 
  }
  
  
  